/* General styles */
body {
  margin: auto;
  font-family: Arial, sans-serif;
  color: white;
}

/*=== Main container styles ===*/
.main-container {
  margin: auto;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 0, 187, 0.64);
}
/*=== Main container styles end === */
/*=== Hero section styles ===*/
.hero {
  margin-top: 60px;
  margin-bottom: 60px;
}
.hero-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 300px;
}
.hero h1 {
  font-family: "Titan One", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
.hero-title .hero-title-highlight {
  color: purple;
}
.hero-title-small {
  font-size: 30px;
}
/*=== Hero section styles end === */
/*=== Headings styles === */
.heading {
  font-family: "Edu SA Hand", sans-serif;
}
/*=== Headings styles end === */
/*=== About me section styles ===*/
.aboutme-section {
  padding: 20px;
}
/*=== About me section styles end ===*/
/*=== Portfolio section styles ===*/
.portfolio-section {
  padding: 20px;
}
.portfolio-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px 0;
}
.portfolio-item-img {
  max-width: 50%;
}
.portfolio-item-img img {
  max-width: 100%;
  border-radius: 8px;
}
.portfolio-item-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/*=== Portfolio section styles end ===*/
/*=== Technologies section styles ===*/
.technologies-section {
  padding: 20px;
}
.technologies-section .heading {
  color: black;
}
.technologies-scroller {
  display: flex;
  flex-direction: row;
}
.technologies-section .technologies-scroller-container li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
}
.technologies-section .technologies-item img {
  max-width: 70px;
}
/*=== Footer styles ===*/
footer {
  color: white;
  padding: 20px 40px;
}
/*=== Footer styles end ===*/
/* === Gradient Styles === */
#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* === Gradient styles end === */
/* === Social buttons styles === */
.hero-buttons {
  display: flex;
  flex-direction: row;
}
.socials {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  width: 50px;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 1s;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}
.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: max-content;
}
#linkedin svg {
  fill: #0e76a8;
}
#github {
  fill: #333;
}
/* === Social buttons styles end === */
/* === CTA button styles ===  */
.cta-btn {
  display: inline-block;
  text-align: center;
  width: 9em;
  height: 50px;
  line-height: 3em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #ff9250;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 600;
  color: #8e00e5;
  background-color: white;
}
.cta-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #560bad;
  height: 150px;
  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.cta-btn:hover {
  color: #ff9250;
}
.cta-btn:hover:before {
  top: -30px;
  left: -30px;
}
.cta-btn:active:before {
  background: #8e00e5;
  transition: background 0s;
}

/* === CTA button styles end === */
/* === hero image styles === */
.profile {
  perspective: 1000px;
}

.profile-image {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.holo-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(0, 255, 255, 0.3) 0%,
    rgba(255, 0, 255, 0.3) 50%,
    rgba(0, 200, 255, 0.3) 100%
  );
  opacity: 0;
  mix-blend-mode: overlay;
  transition: opacity 0.5s ease;
  z-index: 2;
}
.holo-shine {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to bottom right,
    transparent 45%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 55%
  );
  transform: rotate(30deg) translateY(-100%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.8s ease;
  z-index: 3;
}
.profile-image:hover {
  transform: rotateY(-20deg);
}

.profile-image:hover .holo-effect {
  opacity: 1;
}

.profile-image:hover .holo-shine {
  opacity: 1;
  transform: rotate(30deg) translateY(100%);
}
/* === hero image styles end === */
/* === Link Styles === */
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-family: "Jost", serif;
}
/* === Link Styles end === */
/* === font styles === */
p {
  font-family: "Jost", serif;
  font-size: 18px;
  line-height: 1.6;
}
.text-outline {
  color: white;
  text-shadow: -1px -1px 0 #ff9250, 1px -1px 0 #ff9250, -1px 1px 0 #ff9250,
    1px 1px 0 #ff9250;
}
/* === font styles end === */
@media (max-width: 1024px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .hero h1 {
    text-align: center;
  }
  .hero-image img {
    width: 100%;
    max-width: 300px;
  }
  .heading {
    text-align: center;
  }
}

@keyframes rainbow {
  to {
    transform: translateX(-25%);
  }
}
